 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Редактирование пользователей</title>
</head>
<body>
<h3>Редактирование пользователей</h3>
<form th:method="POST" th:action="@{/user/edit/{id}(id=${userEdit.getId()})}" th:object="${userEdit}">
  <label for="lastName">Введите фамилию</label>
  <input  type ="text" th:field="*{lastName}" id="lastName">
  <br>
  <label for="firstName">Введите имя</label>
  <input  type ="text" th:field="*{firstName}" id="firstName">
  <br>
  <label for="patronymic">Введите Отчество</label>
  <input  type ="text" th:field="*{patronymic}" id="patronymic">
  <br>
  <label for="age">Введите возраст</label>
  <input  type ="number" th:field="*{age}" id="age">
  <br>
  <label for="email">Введите email</label>
  <input  type ="email" th:field="*{email}" id="email">
  <br>
  <label for="phoneNumber">Введите телефон</label>
  <input  type ="text" th:field="*{phoneNumber}" id="phoneNumber">
  <br>
  <input type="submit" value="Редактировать">
</form>
</body>
</html>