<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователей</title>
</head>
<body>
<h3>Добавление пользователей</h3>
<form th:method="POST" th:actioin="@{/user/add}" th:object="${user}">
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    <br>
    <label for="firstName">Введите имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName">
        <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    <br>
    <label for="patronymic">Введите отчество: </label>
    <input type="text" th:field="*{patronymic}" id="patronymic">
            <div style="color: red" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"></div>
    <br>
    <label for="age">Введите возраст: </label>
    <input type="number" th:field="*{age}" id="age">
                <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br>
    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email">
                    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br>
    <label for="phoneNumber">Введите номер телефона: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
                        <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
    <br>
    <input type="submit" value="Добавить">
</form>
</body>
</html>